@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://adoring-elion-ea66d1.netlify.app/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
      format('woff2'),
    url('https://adoring-elion-ea66d1.netlify.app/fonts/95c27e18-fc4d-4c73-aef2-171dc6f1ddb3.woff')
      format('woff');
}

@font-face {
  font-family: 'Dallas';
  src: url('https://adoring-elion-ea66d1.netlify.app/fonts/DallasPS-SansReg.woff2') format('woff2');
}
